/*insert custom css below*/


body {
}

.heading {
  position: fixed;
}

.heading h1 {
}

.box {
  float: left ;
  width: 30;
  margin-right: 1.5%;
  margin-bottom: 100px;
}

.box:last-child {
}

.box h2 {
}

.box img {
  float: left ;
  width: 30;
  margin-right: 1.5%;
  float: ;
  border: 30px; solid #fff;
  position: static;
  
}

.box a.read-more {
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100% ;
  padding: 0 20px;
}
